.register.page{
    font-family: "Source Sans Pro", serif;
}

.login.page{
    font-family: "Source Sans Pro", serif;
}

div.form {
    width: 300px;
    margin: 1% auto;
    padding-top: 20px;
    border: 1px solid rgba(99, 99, 99, 0.3);
}
div.new-user, div.old-user{
    width: 300px;
    margin-left: 20%;
    margin-top: 1%;
    padding-top: 20px;
    padding-left: 5px;
    border: 1px solid rgba(99, 99, 99, 0.3);
    float:left;
}
div.new-user a, div.old-user a{
    color: black;
    padding: 2px;
    border: 1px solid #0E0009;
    background: #0E0009;
    color: white;
}
.btn.btn-default.btn-sm {
    background-color: #0E0009;
    color: white;
}
