.menu{
    background-color: #320924;
    margin: 0 auto;
    width: 80%;
    height: 40px;
}
ol.menu li{
    font-family: "Source Sans Pro", serif;
    font-size: 21pt;
    color: aliceblue;
    display: inline;
    margin: 5%;
}